extends layout

block mainContent
	h2 Upload
	p= content
	form(action='/upload', method='post')
		textarea(name="text", rows="20", cols="60")
		br
		input(type="submit, value="Submit text", class="input-xlarge")
	