extends layout

block mainContent
	h2 Upload
	p= content
	form(action='/upload', method='post')
		input(name="txtTitle")
		br
		input(type='file', name='flUpload', multiple='multiple')
		br
		input(name='_method', value='POST', type='hidden')
		input(type="submit", value="Upload File", class="input-xlarge")
	